<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Bike Name</label>
                    <input placeholder="Enter the name" type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Brand Name</label>
                    <input placeholder="Enter the brand" type="text" class="form-control"name="brand" [(ngModel)]="brand">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Bike Colour</label>
                    <input placeholder="Enter the colour" type="text" class="form-control"name="color" [(ngModel)]="color">
                </div>
               
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Price</label>
                    <input placeholder="Enter the price" type="text" class="form-control"name="price" [(ngModel)]="price">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Description</label>
                    <textarea  name="description" id="" cols="30" rows="10" placeholder="Enter the details" class="form-control" [(ngModel)]="description"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-danger"(click)="readValues()">Submit</button>
                </div>
            </div>



        </div>
    </div>
</div>