<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

        
<table class="table table-boreded table-stripped-columns">
    <thead>
      <tr>
        
        <th scope="col">Bike Name</th>
        <th scope="col">Bike Brand</th>
        <th scope="col">Bike Colour</th>
        <th scope="col">price</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">

      <tr *ngFor="let i of bikedata">
       
        <td>{{i.name}}</td>
        <td>{{i.brand}}</td>
        <td>{{i.color}}</td>
        <td>{{i.price}}</td>
        <td>{{i.description}}</td>
      </tr>
     
    </tbody>
  </table>

</div>
</div>
</div>